@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model prn_job_manager.Pages.Account.LoginModel
@{
}
<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />
<style>

    .section-login {
        width: 28rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }

    .button-login{
        width: 100%;
        background: #17123b;
        border-radius: 0.375rem;
    }



</style>
<section class="bg-info-light position-relative overflow-hidden">

    <div class="container position-relative">
        <div class="mw-6xl mx-auto">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 position-relative">
                    <div class="position-relative mw-md mx-auto py-5">
                        <h3 class="mb-4">Sign in and enjoy the best movies</h3>
                        <h6 class="mb-2">Why should you join us?</h6>
                        <div class="d-flex mw-xs mb-2 align-items-start">
                            <span>
                                <svg width="25" height="26" viewbox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 23C18.0228 23 22.5 18.5228 22.5 13C22.5 7.47715 18.0228 3 12.5 3C6.97715 3 2.5 7.47715 2.5 13C2.5 18.5228 6.97715 23 12.5 23ZM17.1339 11.3839C17.622 10.8957 17.622 10.1043 17.1339 9.61612C16.6457 9.12796 15.8543 9.12796 15.3661 9.61612L11.25 13.7322L9.63388 12.1161C9.14573 11.628 8.35427 11.628 7.86612 12.1161C7.37796 12.6043 7.37796 13.3957 7.86612 13.8839L10.3661 16.3839C10.8543 16.872 11.6457 16.872 12.1339 16.3839L17.1339 11.3839Z" fill="#4F46E5"></path>
                                </svg>
                            </span>
                            @*advantages for using the movie website*@
                            <span class="ms-2">Stream your favorite movies from anywhere, anytime with our easy-to-use movie web app</span>
                        </div>
                        <div class="d-flex mw-xs align-items-start">
                            <span>
                                <svg width="25" height="26" viewbox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.5 23C18.0228 23 22.5 18.5228 22.5 13C22.5 7.47715 18.0228 3 12.5 3C6.97715 3 2.5 7.47715 2.5 13C2.5 18.5228 6.97715 23 12.5 23ZM17.1339 11.3839C17.622 10.8957 17.622 10.1043 17.1339 9.61612C16.6457 9.12796 15.8543 9.12796 15.3661 9.61612L11.25 13.7322L9.63388 12.1161C9.14573 11.628 8.35427 11.628 7.86612 12.1161C7.37796 12.6043 7.37796 13.3957 7.86612 13.8839L10.3661 16.3839C10.8543 16.872 11.6457 16.872 12.1339 16.3839L17.1339 11.3839Z" fill="#4F46E5"></path>
                                </svg>
                            </span>
                            <span class="ms-2">Discover new titles and watch with friends with our movie web app's extensive library </span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6">
                    <div class="mw-md py-5 mx-auto">
                        <form asp-page="/Login" method="post">
                            <div class="mb-4">
                                <label class="form-label fw-bold">Email Address *</label>
                                <input class="form-control"
                                       type="email"
                                       placeholder="Enter email address"
                                       asp-for="@Model.user.Email" />
                                <span class="text-danger" asp-validation-for="@Model.user.Email"></span><br />
                            </div>
                            <div class="mb-4">
                                <label class="form-label fw-bold">Password *</label>
                                <input class="form-control"
                                       type="password"
                                       placeholder="*******"
                                       asp-for="@Model.user.Password" />
                                <span class="text-danger" asp-validation-for="@Model.user.Password"></span><br />
                            </div>
                            <div class="d-flex mb-5 flex-wrap align-items-center justify-content-between">
                                <div>
                                    <a class="btn p-0 btn-link fs-9" asp-page="ForgotPassword">Forgot Password?</a>
                                </div>
                            </div>
                            <input class="btn w-100 btn-primary shadow" type="submit" value="Sign In" />
                        </form>
                        <button class="btn mt-4 w-100 btn-success" onclick="window.location.href='/Account/Register'" type="submit">
                            Register
                        </button>
                        <p class="text-danger">@ViewData["wrongaccount"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
