@page
@model prn_job_manager.Pages.Job.ListModel
@{
}

<br />
<br />
<a asp-page="Create" class="btn btn-primary">Create</a>
<br />
<br />
    <div class="text-center"><h3>List Job</h3></div>
<table class="mt-3 table table-bordered border-primary">
    <thead class="green-gray lighten-4">
        <tr>

            <th>Name</th>
            <th>Description</th>
            <th>Webhook</th>
            <th>Payload</th>
            <th>Header</th>
            <th>Method</th>
            <th>Expression</th>
            <th>Status</th>
            <th>Created</th>
            <th>Updated</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.list)
        {
            <tr>

                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Webhook</td>
                <td>@item.Payload</td>
                <td>@item.Header</td>
                <td>@item.Method</td>
                <td>@item.Expression</td>
                <td>@item.Status</td>
                <td>@Convert.ToDateTime(@item.CreatedAt).ToString("dd/MM/yyyy")</td>
                @if (item.UpdatedAt != null)
                {
                    <td>@Convert.ToDateTime(@item.UpdatedAt).ToString("dd/MM/yyyy")</td>
                }
                else
                {
                    <td></td>
                }
    
                

                <td><a asp-page="/EditPage" asp-route-id="@item.JobId" class="btn btn-success">Edit</a> </td>
            </tr>
        }
    </tbody>
</table>
